:root {
  --primary: deeppink;
  --secondary: blue;
}
* {
  transition: 0.3s all ease;
}
body {
  font-family: "Courier New", Courier, monospace;
}
.s1,
.s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.s1 div {
  width: 200px;
  height: 100px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.s1 div:hover {
  transform: scale(1.05);
  background-color: red !important;
}
.s1 div:nth-child(odd) {
  background-color: deeppink;
}
.s1 div:nth-child(even) {
  background-color: blue;
}
.s1 div:first-child {
  border-radius: 10px 0px 0px 10px;
}
.s1 div:last-child {
  border-radius: 0px 10px 10px 0px;
}
.s1 div:nth-child(4)::after {
  content: "FLIX";
}

.s1 div:nth-child(4):hover::after {
  content: "FLEX";
}

/* section 2 */
.s2 button::after {
  content: "Button";
}
.s2 button:not(:last-child) {
  margin-right: 10px;
}
.s2 button {
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
}
.s2 button:nth-child(odd) {
  background-color: var(--primary);
}
.s2 button:nth-child(even) {
  background-color: var(--secondary);
}
.s2 button:nth-child(odd):hover {
  background-color: var(--secondary);
}
.s2 button:nth-child(even):hover {
  background-color: var(--primary);
}

/* navbar */
nav {
  background-color: rgb(48, 44, 44);
  color: white;
  display: flex;
}
nav div {
  padding: 10px;
  border-right: 2px solid white;
}
nav div:not(:nth-child(4)):hover {
  background-color: deeppink;
  cursor: pointer;
  transform: scale(1.05);
  border-right: 2px solid white;
}
.grow {
  flex-grow: 1;
}

/* drop-down sections */
.s4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.s4 .dropdown:not(:last-child) {
  margin-right: 20px;
}
/* DROP DOWN TYPE 1     */
.dropdown {
  position: relative;
  width: 120px;
  background-color: deeppink;
  cursor: pointer;
  color: white;
  padding: 10px;
}
.dropdown:hover {
  background-color: black;
}
.dd-content {
  position: absolute;
  background-color: black;
  left: 0;
  width: 100%;
  /* display: none; */
  transform: rotateX(90deg);
  margin-top: 10px;
}
.dd-item {
  padding: 10px;
}
.dd-item:hover {
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}
.dropdown:hover > .dd-content {
  /* display: block; */
  transform: rotateX(0deg);
}

/* dropdown type 2 config */
.type2 {
  background-color: black;
}
.type2,
.type2-content,
.type2-content div {
  border-radius: 10px;
}
.type2 div:hover {
  border-radius: 10px;
}
.type2-content {
  margin-top: 15px;
}
/* .type2-content div:nth-child(odd){
    background-color: rgb(32, 32, 32);
} */
/* TYPE 3 CONFIG */
/* dropdown type 2 config */
.type3 {
  background-color: black;
}
.type3,
.type3-content,
.type3-content div {
  border-radius: 10px;
}
.type3 div:hover {
  border-radius: 10px;
}
.type3-content {
  margin-top: 15px;
  transform: rotateY(90deg) skewX(12deg);
}
.dropdown:hover > .dd-content {
  /* display: block; */
  transform: rotateY(0deg) skewX(0deg);
}

/* DROPDOWN TYPE 4 */
.type4 {
  background-color: black;
}
.type4,
.type4-content,
.type4-content div {
  border-radius: 10px;
}
.type4 div:hover {
  border-radius: 10px;
}
.type4-content {
  margin-top: 15px;
  transform: rotateY(90deg);
}
.dropdown:hover > .dd-content {
  /* display: block; */
  transform: rotateY(0deg);
}
